@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    background-color: #1E1E1E;
}
h1 {
    color: #f38609;
    font-family: "Orbitron";
}
p{
    font-family: "Orbitron";
    color: #EA8919;
}

.contenedor{
    width: 90%;
    min-height: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculadora{
    background-color: #1E1E1E;
    border: 3px solid  #0F5009;
    border-radius: 7%;
    width: 175px ;
    height: 280px;
    padding: 10px;
    box-shadow: 1px 5px 10px 1px green;
}
.pantalla {
    background-color: #0D0C0C;
    border: 3px solid #0F5009;
    border-radius: 15%;
    width: 170px ;
    height: 60px;
}
.pantalla p {
    font-family: "Orbitron";
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
    width: 158px ;
    height: 30px;
}

.teclado{
    font-family: "Orbitron"; 
    display: flex;
    display: inline-block;
    padding-top: 5%;
}
.teclado button{
    background-color:#1aa91abe;
    border: 1.5px solid  #EA8919;
    border-radius: 25%;
    width: 55px;
    height: 30px;
    font-family: "Orbitron";
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px  1px  green;
   
}
.tam-simbol{
    font-size: 17px;
}

button:hover{
    background-color: #eba351;
    border: 1.5px solid  #11F011;
}